#!/usr/bin/env bash

# If you have `direnv` installed, this file
# will source the Nix devShell `default` directlty when entering this
# directory.
if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
    echo "Loading nix-direnv, because its faster..."
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

watch_dir ./tools/nix/shells

use flake ./tools/nix#default --no-pure-eval
