[package]
name = "mdbook-admonish"
version = "1.10.1"
edition = "2021"

authors = ["Tom Milligan <code@tommilligan.net>"]
description = "A preprocessor for mdbook to add Material Design admonishments."
repository = "https://github.com/tommilligan/mdbook-admonish"
documentation = "https://tommilligan.github.io/mdbook-admonish/"

license = "MIT"
keywords = ["mdbook", "markdown", "material", "design", "ui"]
readme = "README.md"

[[bin]]
name = "mdbook-admonish"
path = "src/bin/mdbook-admonish.rs"
required-features = ["cli"]

[lib]
name = "mdbook_admonish"
path = "src/lib.rs"

[dependencies]
anyhow = "1.0.72"
clap = { version = "4", default_features = false, features = ["std", "derive"], optional = true }
env_logger = { version = "0.10", default_features = false, optional = true }
log = "0.4.19"
mdbook = "0.4.34"
once_cell = "1.18.0"
pulldown-cmark = "0.9.3"
regex = "1.9.3"
semver = "1.0.18"
serde = { version = "1.0.183", features = ["derive"] }
serde_json = "1.0.104"
toml = "0.7.6"
toml_edit = { version = "0.19.14", optional = true }

[dev-dependencies]
pretty_assertions = "1.4.0"

[features]
default = ["cli", "cli-install"]

# Enable the command line binary
cli = ["clap", "env_logger"]
# Enable installation of files and configuration
cli-install = ["toml_edit"]
