[package]
name = "mdbook-admonish"
version = "1.0.1"
edition = "2021"

authors = ["Tom Milligan <code@tommilligan.net>"]
description = "A preprocessor for mdbook to add Material Design admonishments."
repository = "https://github.com/tommilligan/mdbook-admonish"
documentation = "https://docs.rs/mdbook-admonish"

license = "MIT"
keywords = ["mdbook", "markdown", "material", "design"]
readme = "README.md"

[[bin]]
name = "mdbook-admonish"
path = "src/bin/mdbook-admonish.rs"
required-features = ["cli"]

[lib]
name = "mdbook_admonish"
path = "src/lib.rs"

[dependencies]
clap = { version = "3.0.14", default_features = false, features = ["std", "cargo"], optional = true }
env_logger = { version = "0.9.0", default_features = false, optional = true }
log = { version = "0.4.14", optional = true }
mdbook = "0.4.15"
pulldown-cmark = "0.9.1"
serde_json = { version = "1.0.79", optional = true }
toml_edit = { version = "0.13.4", optional = true }

[dev-dependencies]
pretty_assertions = "1.1.0"

[features]
default = ["cli", "cli-install"]

# Enable the command line binary
cli = ["clap", "env_logger", "log", "serde_json"]
# Enable installation of files and configuration
cli-install = ["toml_edit"]
