@charset "UTF-8";
:is(.admonition) {
  display: flow-root;
  margin: 1.5625em 0;
  padding: 0 1.2rem;
  color: var(--fg);
  page-break-inside: avoid;
  background-color: var(--bg);
  border: 0 solid black;
  border-inline-start-width: 0.4rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.05), 0 0 0.1rem rgba(0, 0, 0, 0.1);
}
@media print {
  :is(.admonition) {
    box-shadow: none;
  }
}
:is(.admonition) > * {
  box-sizing: border-box;
}
:is(.admonition) :is(.admonition) {
  margin-top: 1em;
  margin-bottom: 1em;
}
:is(.admonition) > .tabbed-set:only-child {
  margin-top: 0;
}
html :is(.admonition) > :last-child {
  margin-bottom: 1.2rem;
}

a.admonition-anchor-link {
  display: none;
  position: absolute;
  left: -1.2rem;
  padding-right: 1rem;
}
a.admonition-anchor-link:link, a.admonition-anchor-link:visited {
  color: var(--fg);
}
a.admonition-anchor-link:link:hover, a.admonition-anchor-link:visited:hover {
  text-decoration: none;
}
a.admonition-anchor-link::before {
  content: "§";
}

:is(.admonition-title, summary.admonition-title) {
  position: relative;
  min-height: 4rem;
  margin-block: 0;
  margin-inline: -1.6rem -1.2rem;
  padding-block: 0.8rem;
  padding-inline: 4.4rem 1.2rem;
  font-weight: 700;
  background-color: rgba(68, 138, 255, 0.1);
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  display: flex;
}
:is(.admonition-title, summary.admonition-title) p {
  margin: 0;
}
html :is(.admonition-title, summary.admonition-title):last-child {
  margin-bottom: 0;
}
:is(.admonition-title, summary.admonition-title)::before {
  position: absolute;
  top: 0.625em;
  inset-inline-start: 1.6rem;
  width: 2rem;
  height: 2rem;
  background-color: #448aff;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"></svg>');
  -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"></svg>');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  content: "";
}
:is(.admonition-title, summary.admonition-title):hover a.admonition-anchor-link {
  display: initial;
}

details.admonition > summary.admonition-title::after {
  position: absolute;
  top: 0.625em;
  inset-inline-end: 1.6rem;
  height: 2rem;
  width: 2rem;
  background-color: currentcolor;
  mask-image: var(--md-details-icon);
  -webkit-mask-image: var(--md-details-icon);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  content: "";
  transform: rotate(0deg);
  transition: transform 0.25s;
}
details[open].admonition > summary.admonition-title::after {
  transform: rotate(90deg);
}

.navy :is(.admonition) {
  background-color: var(--sidebar-bg);
}

.ayu :is(.admonition),
.coal :is(.admonition) {
  background-color: var(--theme-hover);
}

.rust :is(.admonition) {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-fg);
}
.rust .admonition-anchor-link:link, .rust .admonition-anchor-link:visited {
  color: var(--sidebar-fg);
}
